<?xml version="1.0" encoding="UTF-8"?>
<rows>
	<row>
		<smenuname>用户管理</smenuname>
		<smenuurl>admin/user/userManager.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>1</imenuid>
	</row>
	<row>
		<smenuname>mp3管理</smenuname>
		<smenuurl>admin/storymp3/storymp3Manager.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>2</imenuid>
	</row>
	<row>
		<smenuname>新闻管理</smenuname>
		<smenuurl>admin/news/newsManager.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>3</imenuid>
	</row>
	<row>
		<smenuname>新闻评论管理</smenuname>
		<smenuurl>admin/news/newscommentManager.jsp</smenuurl>
		<iparentid>3</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>4</imenuid>
	</row>
	<row>
		<smenuname>异闻录管理</smenuname>
		<smenuurl>admin/article/articleManager.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>5</imenuid>
	</row>
	<row>
		<smenuname>异闻录评论管理</smenuname>
		<smenuurl>admin/article/articlecommentManager.jsp</smenuurl>
		<iparentid>5</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>6</imenuid>
	</row>
	<row>
		<smenuname>论坛热点管理</smenuname>
		<smenuurl>admin/topic/topicManager.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>7</imenuid>
	</row>
	<row>
		<smenuname>论坛帖子管理</smenuname>
		<smenuurl>admin/invitation/invitationManager.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>8</imenuid>
	</row>
	<row>
		<smenuname>论坛帖子评论管理</smenuname>
		<smenuurl>admin/invitation/invitationcommentManager.jsp</smenuurl>
		<iparentid>8</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>9</imenuid>
	</row>
	<row>
		<smenuname>站内信息管理</smenuname>
		<smenuurl>admin/shortmessage/shortMessage.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>10</imenuid>
	</row>
	<row>
		<smenuname>静态缓存信息</smenuname>
		<smenuurl>admin/staticpage/staticpage.jsp</smenuurl>
		<iparentid>0</iparentid>
		<simgico>/base.gif</simgico>
		<isvisible></isvisible>
		<imenuid>11</imenuid>
	</row>

</rows>